#project-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F2F2F2;
    background: -webkit-linear-gradient(#44708F, #F2F2F2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#44708F, #F2F2F2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#44708F, #F2F2F2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#44708F, #F2F2F2); /* Standard syntax */
}

#title{
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
	font-size: 25px;
	padding: 5px 5px 5px 5%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: white;
}

#project-list{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.project-container{
	width: 90%;
	height: auto;
	background: #fff;
	margin: 10px auto;
	border-radius: 5px;
}

.project-info{
	width: 100%;
	height: 180px;
	padding: 10px 10px 0px 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.project-icon{
	width: 200px;
	height: 140px;
	margin: 5px 10px 5px 5px;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.project-title{
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
}

.container-expand{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 18px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

.container-expand:hover{
	background-color: lightgrey;
}

@media screen and (max-width: 470px){
	.project-title{
		font-size: 16px;
	}
}

@media screen and (max-width: 425px){
	.project-info{
		height: 180px;
	}
	.project-icon{
		clear: both;
		margin: 5px auto;
		float: none;
	}
	.project-title{
		float: none;
		text-align: center;
	}
	.project-info{
		font-size: 13px;
	}
}







